///// colors
$lead-body: #13bdd2;
$header: #fff;

$button-cta-body: #fff;
$button-cta-text: #000;

$button-back-body: #13bdd2;
$button-back-text: #fff;

$input-background: #fff;
$input-text: #000;
$input-focus: #0c3442;
