///// colors
$lead-body: #13bdd2;
$lead-body-lighter:#42cadb;
$header: #fff;

$fields-border-color: rgba(255, 255, 255, 0.4);

$button-cta-body: #fff;
$button-cta-text: #000;

$button-back-body: #13bdd2;
$button-back-text: #fff;

$input-background: #fff;
$input-text: #000;
$input-focus: #0c3442;

$error: #CC0000;
$success: #499203;

////login page
$footer-login: #fff;
