h1 {
  font-size: 2.5em;
  font-family: $roboto-condesed-light;
  color: $header;
}
h2 {
  font-size: 2em;
  font-family: $roboto-condesed-light;
  color: $header;
}
p {
  font-size: 16px;
  font-family: $roboto-condesed-light;
  color:  $lead-body;
}
