$base-height: 2rem;

$padding-x: 2em;
$padding-y: 3em;
$padding-big-y: 6em;
$fields-border-radius:7px;
$buttons-border-radius:5px;

$content-top-margin: 2.5rem;

$input-padding: 5px;
$button-padding: 1rem;
$button-padding-top: 0.5rem;
