footer {
    .menu {
        margin-left: 5px;
        &.menu-left {
          float: left;
          li {
            padding:15px;
            &:first-of-type{
              padding-left: 0;
            }
          }
        }
        &.menu-right {
          float: right;
          li {
            padding:15px;
            &:last-of-type{
              padding-right: 0;
            }
          }
        }
    }
    a {
      text-transform: uppercase;
      color: $footer-login;
      font-size: 0.8rem;
      margin: 0 !important;
      padding: 0 !important;
      img {
        height: 15px;
        width: auto;
      }
    }
}
